@model WebBack.Models.Biz.ProductSku.EditViewModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutHomeDialog.cshtml";

    var mainImg = Model.DispalyImgs.Where(m => m.IsMain == true).FirstOrDefault();
}

@section styles{
    <style type="text/css">
        #list_GoodsPic tr > td {
            width: 100px;
            padding: 10px;
        }

        .width-325px {
            width: 325px !important;
        }
    </style>
}

@section scripts{
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/ckeditor/config.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            CKEDITOR.replace('Model_ProductSku_Description', { height: '180px' });

            $.formValidator.initConfig({ formID: "form1", onError: function (msg) { art.dialog.tips(msg); } });
            $("#Model_ProductSku_Name").formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ min: 1, max: 50, onError: "商品名称不能为空,且不超过50个字符！" });
            $("#Model_ProductSku_BriefInfo").formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ min: 1, max: 100, onError: "商品简短描述不能为空,且不超过100个字符！" });
            $("#Model_ProductSku_CategoryId").formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ min: 1, max: 500, onError: "请选择商品分类" });
            $("#Model_ProductSku_Model").formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ min: 1, max: 50, onError: "型号不能为空,且不超过50个字符！" });
            $("#Model_ProductSku_SKU").formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ min: 1, max: 50, onError: "SKU不能为空,且不超过50个字符！" })
            $("#Model_ProductSku_MarketPrice").formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ min: 1, max: 50, onError: "市场价不能为空,且不超过50个字符！" });
            $("#Model_ProductSku_MarketPrice").decimalInput(2);
            $("#Model_ProductSku_SalePrice").formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ min: 1, max: 50, onError: "售价不能为空,且不超过50个字符！" });
            $("#Model_ProductSku_SalePrice").decimalInput(2);
            $("#Model_ProductSku_Supplier").formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ min: 1, max: 50, onError: "生产商不能为空,且不超过50个字符！" });
            $("#Model_DispalyImgs_ImgUrl_0").formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ min: 1, max: 500, onError: "请上传商品封面图片" });

            $('#Model_ProductSku_CategoryId').on('change', function (e, params) {
                var categoryId = $(this).val();
                $('#txt_SkuPre').text(categoryId);
            });

        });

        function submit(fun) {


            var stem = CKEDITOR.instances.Model_ProductSku_Description.getData();

            var form = $("#form1");
            var isValid = $.formValidator.pageIsValid();
            if (isValid) {

                $("#Model_ProductSku_Description").val(stem);

                art.dialog.confirm(
               '确定要保存？',
                function () {
                    var l_Data = $(form).serializeArray();
                    $.lumos.postJson({
                        isUseHandling: true,
                        url: "/Biz/ProductSku/Edit",
                        data: l_Data,
                        success: function (d) {
                            fun(d);
                        }
                    });
                });
            }

            return false;
        }

    </script>
}

<div class="gbr-row">
    <form id="form1" name="form1" method="post">
        @Html.AntiForgeryToken()
        <input id="Model_ProductSku_Id" name="Model.ProductSku.Id" type="hidden" value="@Model.ProductSku.Id" />
        <table class="f-tb" cellpadding="0" cellspacing="1">
            <tr>
                <td class="f-tb-t" style="width:50px">
                    商品名称<span class="required-symbol">*</span>：
                </td>
                <td class="f-tb-c">
                    <input id="Model_ProductSku_Name" name="Model.ProductSku.Name" type="text" class="input-control" value="@Model.ProductSku.Name" style="width:300px;" />
                </td>
            </tr>
            <tr>
                <td class="f-tb-t" style="width:50px">
                    简短描述<span class="required-symbol">*</span>：
                </td>
                <td class="f-tb-c">
                    <input id="Model_ProductSku_BriefInfo" name="Model.ProductSku.BriefInfo" type="text" class="input-control" value="@Model.ProductSku.BriefInfo" style="width:300px;" />
                </td>
            </tr>
            <tr>
                <td class="f-tb-t" style="width:50px">特性：</td>
                <td class="f-tb-c">
                    <input id="Model_ProductSku_IsRecommend" name="Model.ProductSku.IsRecommend" type="checkbox" value="true" @Html.Raw(Model.ProductSku.IsRecommend == true ? "checked" : "") /><label for="Model_ProductSku_IsRecommend">推荐</label>
                </td>
            </tr>

            <tr>
                <td class="f-tb-t" style="width:50px">收货模式：</td>
                <td class="f-tb-c">
                    @Model.ProductSku.ReceptionMode.GetCnName()
                </td>


            </tr>

            @*<tr>
                    <td class="f-tb-t" style="width:50px">收货模式：</td>
                    <td class="f-tb-c">
                        @(Html.initEnumeration<Lumos.Entity.Enumeration.ReceptionMode>(Lumos.Entity.Enumeration.InputType.Select, "Model.ProductSku.ReceptionMode",
                       new
                       {
                           @class = "chosen-select width-325px",
                           selectedvalue = new Lumos.Entity.Enumeration.ReceptionMode[1] { Model.ProductSku.ReceptionMode },
                           hidevalue = new Lumos.Entity.Enumeration.ReceptionMode[] { Lumos.Entity.Enumeration.ReceptionMode.Unknow }
                       }))
                    </td>
                </tr>*@



            <tr>
                <td class="f-tb-t" style="width:50px">
                    展示价<span class="required-symbol">*</span>：
                </td>
                <td class="f-tb-c">
                    <input id="Model_ProductSku_MarketPrice" name="Model.ProductSku.MarketPrice" type="text" class="input-control" value="@Model.ProductSku.MarketPrice" style="width:300px;" />
                </td>
            </tr>
            <tr>
                <td class="f-tb-t" style="width:50px">
                    销售价<span class="required-symbol">*</span>：
                </td>
                <td class="f-tb-c">
                    <input id="Model_ProductSku_SalePrice" name="Model.ProductSku.SalePrice" type="text" class="input-control" value="@Model.ProductSku.SalePrice" style="width:300px;" />
                </td>
            </tr>
            <tr>
                <td class="f-tb-t">
                    图片：
                </td>
                <td class="f-tb-c">
                    @*<div class="cked-title">
                            <label class="frm_label" for="">
                                <span class="tip" style="float:left;">建议尺寸：320 * 320</span>
                            </label>
                        </div>*@
                    <div>
                        <table class="f-tb1-detail" id="list_GoodsPic" style="text-align:center;width:auto">
                            <tr style="vertical-align:top">
                                <td>
                                    <div>
                                        <span class="uploadimgbox" upload="true">
                                            <span class="uploadimg" inputname="Model.DispalyImgs[0].ImgUrl" path="product">
                                                <img src="@mainImg.ImgUrl" />
                                                <span class="uploadimg-click" style="">上传</span>
                                                <input id="Model_DispalyImgs_ImgUrl_0" value="@mainImg.ImgUrl" name="Model.DispalyImgs[0].ImgUrl" type="hidden" />
                                                <input id="Model_DispalyImgs_IsMain_0" value="true" name="Model.DispalyImgs[0].IsMain" type="hidden" />
                                            </span>
                                            <span class="uploadimg-view" style="">预览</span>
                                        </span>
                                    </div>
                                    <div>
                                        <span>封面</span><span class="required-symbol">*</span>
                                    </div>
                                </td>
                                @*<td>
                                        <div>
                                            <span class="uploadimgbox" upload="true">
                                                <span class="uploadimg" inputname="Model.DispalyImgs[1].ImgUrl" path="product">
                                                    <img src="" />
                                                    <span class="uploadimg-click" style="">上传</span>
                                                    <input id="Model_DispalyImgs_ImgUrl_1" value="" name="Model.DispalyImgs[1].ImgUrl" type="hidden" />
                                                    <input id="Model_DispalyImgs_IsMain_1" value="false" name="Model.DispalyImgs[1].IsMain" type="hidden" />
                                                </span>
                                                <span class="uploadimg-view" style="">预览</span>
                                            </span>
                                        </div>
                                        <div>
                                            <span>图片1</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <span class="uploadimgbox" upload="true">
                                                <span class="uploadimg" inputname="Model.DispalyImgs[2].ImgUrl" path="product">
                                                    <img src="" />
                                                    <span class="uploadimg-click" style="">上传</span>
                                                    <input id="Model_DispalyImgs_ImgUrl_2" value="" name="Model.DispalyImgs[2].ImgUrl" type="hidden" />
                                                    <input id="Model_DispalyImgs_IsMain_2" value="false" name="Model.DispalyImgs[2].IsMain" type="hidden" />
                                                </span>
                                                <span class="uploadimg-view" style="">预览</span>
                                            </span>
                                        </div>
                                        <div>
                                            <span>图片2</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <span class="uploadimgbox" upload="true">
                                                <span class="uploadimg" inputname="Model.DispalyImgs[3].ImgUrl" path="product">
                                                    <img src="" />
                                                    <span class="uploadimg-click" style="">上传</span>
                                                    <input id="Model_DispalyImgs_ImgUrl_3" value="" name="Model.DispalyImgs[3].ImgUrl" type="hidden" />
                                                    <input id="Model_DispalyImgs_IsMain_3" value="false" name="Model.DispalyImgs[3].IsMain" type="hidden" />
                                                </span>
                                                <span class="uploadimg-view" style="">预览</span>
                                            </span>
                                        </div>
                                        <div>
                                            <span>图片3</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <span class="uploadimgbox" upload="true">
                                                <span class="uploadimg" inputname="Model.DispalyImgs[4].ImgUrl" path="product">
                                                    <img src="" />
                                                    <span class="uploadimg-click" style="">上传</span>
                                                    <input id="Model_DispalyImgs_ImgUrl_4" value="" name="Model.DispalyImgs[4].ImgUrl" type="hidden" />
                                                    <input id="Model_DispalyImgs_IsMain_4" value="false" name="Model.DispalyImgs[4].IsMain" type="hidden" />
                                                </span>
                                                <span class="uploadimg-view" style="">预览</span>
                                            </span>
                                        </div>
                                        <div>
                                            <span>图片4</span>
                                        </div>
                                    </td>*@
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="f-tb-t" style="width:50px">
                    商品详情：
                </td>
                <td class="f-tb-c">
                    <textarea id="Model_ProductSku_Description" name="Model.ProductSku.Description" class="ckeditor">@Model.ProductSku.Description</textarea>
                </td>
            </tr>
        </table>
    </form>
</div>
