@model WebBack.Models.Biz.Merchant.EditViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutHomeDialog.cshtml";
}

@section scripts{
    <script type="text/javascript">


        $(this).ready(function () {
            $.formValidator.initConfig({ formID: "form1", onError: function (msg) { $.lumos.tips(msg); }, onSuccess: function () { return edit(); } });

            $("#Model_SysMerchatUser_Password").formValidator().regexValidator({ regExp: regexEnum.password, onError: "密码由6到20个数字、英文字母或下划线组成" });
            $("#Model_SysMerchatUser_Password").attr("disabled", true).unFormValidator(true);
            $("#Model_Merchant_ContactName").formValidator().inputValidator({ min: 1, max: 100, onError: "联系人不能为空，且不超过100个字符" });
            $("#Model_Merchant_ContactPhone").formValidator().inputValidator({ min: 1, max: 100, onError: "联系电话不能为空，且不超过100个字符" });

            $("#abtn-editPwd").toggle(function () {
                $("#lbl_Password").hide();
                $("#Model_SysMerchatUser_Password").show();
                $("#Model_SysMerchatUser_Password").attr("disabled", false).unFormValidator(false);
                $(this).text("取消");
            }, function () {
                $("#lbl_Password").show();
                $("#Model_SysMerchatUser_Password").hide();
                $("#Model_SysMerchatUser_Password").val("");
                $("#Model_SysMerchatUser_Password").attr("disabled", true).unFormValidator(true);
                $(this).text("修改");
            }
);

        });

        function edit() {
            art.dialog.confirm(
'确定要保存？',
function () {
    var postData = $("#form1").serializeArray();

    $.lumos.postJson({
        url: "/Biz/Merchant/Edit",
        data: postData,
        success: function (d) {

            if (d.result == resultType.success) {
                $.lumos.parentDialog().listTable.loadData();
                $.lumos.tips(d.message, true);
            }
            else {
                $.lumos.tips(d.message);
            }

        }
    });
});
            return false;
        }

        //-->
    </script>
}

<form id="form1">
    @Html.AntiForgeryToken()
    <input name="Model.Merchant.Id" type="hidden" value="@Model.Merchant.Id" />
    <input name="Model.SysMerchatUser.UserName" type="hidden" value="@Model.SysMerchatUser.UserName" />
    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>账号信息</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>

    <table class="f-tb" cellpadding="0" cellspacing="1">
        <tr>
            <td class="f-tb-t">
                账号：
            </td>
            <td class="f-tb-c">
                @Model.SysMerchatUser.UserName
            </td>
        </tr>
        <tr>
            <td class="f-tb-t">
                <span class="required-symbol">*</span>密码：
            </td>
            <td class="f-tb-c">
                <label id="lbl_Password">******</label>
                <input name="Model.SysMerchatUser.Password" class="input-control" autocomplete="off" type="password" id="Model_SysMerchatUser_Password" style="width: 150px;display:none;" />
                <a class="a-btn" id="abtn-editPwd" href="javascript:void(0)">修改</a>
            </td>
        </tr>
    </table>
    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>商户信息</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>

    <table class="f-tb" cellpadding="0" cellspacing="1" style="width:100%">
        <tr>
            <td class="f-tb-t">
                商户名称：
            </td>
            <td class="f-tb-c">
                @Model.Merchant.Name
            </td>
        </tr>
        <tr>
            <td class="f-tb-t">
                <span class="required-symbol">*</span>联系人：
            </td>
            <td class="f-tb-c">
                <input name="Model.Merchant.ContactName" class="input-control" type="text" id="Model_Merchant_ContactName" style="width: 150px;" value="@Model.Merchant.ContactName" />
            </td>
        </tr>
        <tr>
            <td class="f-tb-t">
                <span class="required-symbol">*</span>联系电话：
            </td>
            <td class="f-tb-c">
                <input name="Model.Merchant.ContactPhone" class="input-control" type="text" id="Model_Merchant_ContactPhone" style="width: 150px;" value="@Model.Merchant.ContactPhone" />
            </td>
        </tr>
        <tr>
            <td class="f-tb-t">
                联系地址：
            </td>
            <td class="f-tb-c">
                <input name="Model.Merchant.ContactAddress" class="input-control" type="text" id="Model_Merchant_ContactAddress" style="width: 150px;" value="@Model.Merchant.ContactAddress" />
            </td>
        </tr>
    </table>

</form>


