@model WebBack.Models.Sys.AgentUser.EditViewModel
@{
    ViewBag.Title = "修改用户信息";
    Layout = "~/Views/Shared/_LayoutHomeDialog.cshtml";
}

@section scripts{
    <script type="text/javascript">
        <!--

 
        $(this).ready(function () {
            $.formValidator.initConfig({ formID: "form1", onError: function (msg) { }, onSuccess: function () { return update(); } });

        
            $("#Model_SysAgentUser_FullName").formValidator({ onShow: "&nbsp;", onFocus: "不超过50个字符", onCorrect: "&nbsp;" }).inputValidator({ min: 1, max: 50, empty: { leftEmpty: false, emptyError: "不能有空格" }, onError: "不超过50个字符" }).defaultPassed();
            $("#Model_SysAgentUser_WechatNumber").formValidator({ onShow: "&nbsp;", onFocus: "不超过50个字符", onCorrect: "&nbsp;", empty: true, onEmpty: "&nbsp;" }).inputValidator({ min: 1, max: 50, empty: { leftEmpty: false, emptyError: "不能有空格" }, onError: "不超过50个字符" });
            $("#Model_SysAgentUser_Email").formValidator({ onShow: "&nbsp;", onFocus: "邮箱格式且不超过100个字符", onCorrect: "&nbsp;", empty: true, onEmpty: "&nbsp;" }).inputValidator({ min: 0, max: 100, onError: "邮箱格式且不超过100个字符" }).regexValidator({ regExp: regexEnum.email, onError: "邮箱格式且不超过100个字符" }).defaultPassed();
            $("#Model_SysAgentUser_PhoneNumber").formValidator({ onShow: "&nbsp;", onFocus: "手机号码格式", onCorrect: "&nbsp;", empty: true, onEmpty: "&nbsp;" }).inputValidator({ min: 0, max: 11, onError: "手机号码格式且不超过11个字符" }).regexValidator({ regExp: regexEnum.mobile, onError: "手机号码格式且不超过11个字符" }).defaultPassed();

            $("#abtn-editPwd").toggle(function () {
                $("#lbl_Password").hide();
                $("#Model_SysAgentUser_Password").show();
                $(this).text("取消");
            }, function () {
                $("#lbl_Password").show();
                $("#Model_SysAgentUser_Password").hide();
                $("#Model_SysAgentUser_Password").val("");
                $(this).text("修改");
            }
            );
        });

        function update() {

            art.dialog.confirm(
'确定要保存？',
function () {
    var postData = $("#form1").serializeArray();


    $.lumos.postJson({
        url: "/Sys/AgentUser/Edit",
        data: postData,
        success: function (d) {
            if (d.result == resultType.success) {
                $.lumos.parentDialog().listTable.loadData();
                $.lumos.tips(d.message, true);
            }
            else {
                $.lumos.tips(d.message);
            }
        }
    });
});
            return false;
        }

        //-->
    </script>
}
<div class="gbr-row">
    <form id="form1" name="form1"  method="post">
        @Html.AntiForgeryToken()
        <input name="Model.SysAgentUser.Id"type="hidden" value="@Model.SysAgentUser.Id"  />
        <table class="f-tb" cellpadding="0" cellspacing="1">
            <tr>
                <td class="f-tb-t" style="width:50px;">
                    用户名：
                </td>
                <td class="f-tb-c">
                    <label id="lbl_UserName">@Model.SysAgentUser.UserName</label>
                </td>
            </tr>
            <tr>
                <td class="f-tb-t">
                    密码：
                </td>
                <td class="f-tb-c">
                    <label id="lbl_Password">******</label>

                    <input name="Model.SysAgentUser.Password" class="input-control" autocomplete="off" type="password" id="Model_SysAgentUser_Password" style="width: 150px;display:none;" />
                    <a class="a-btn" id="abtn-editPwd" href="javascript:void(0)">修改</a>
                    <span id="Model_SysAgentUser_PasswordTip"></span>
                </td>
            </tr>
            <tr>
                <td class="f-tb-t">
                    代理商名称：
                </td>
                <td class="f-tb-c">
                    <input name="Model.SysAgentUser.FullName" class="input-control" type="text" id="Model_SysAgentUser_FullName" value="@Model.SysAgentUser.FullName" style="width: 150px;" />
                    <span id="Model_SysAgentUser_FullNameTip"></span>
                </td>
            </tr>
            <tr>
                <td class="f-tb-t">
                    微信号：
                </td>
                <td class="f-tb-c">
                    <input name="Model.SysAgentUser.WechatNumber" class="input-control" type="text" id="Model_SysAgentUser_WechatNumber" value="@Model.SysAgentUser.WechatNumber" style="width: 150px;" />
                    <span id="Model_SysAgentUser_WechatNumberTip"></span>
                </td>
            </tr>
            <tr>
                <td class="f-tb-t">
                    E-mail：
                </td>
                <td class="f-tb-c">
                    <input name="Model.SysAgentUser.Email" class="input-control" type="text" id="Model_SysAgentUser_Email" value="@Model.SysAgentUser.Email" style="width: 150px;" />
                    <span id="Model_SysAgentUser_EmailTip"></span>
                </td>
            </tr>
            <tr>
                <td class="f-tb-t">
                    手机：
                </td>
                <td class="f-tb-c">
                    <input name="Model.SysAgentUser.PhoneNumber" class="input-control" type="text" id="Model_SysAgentUser_PhoneNumber" value="@Model.SysAgentUser.PhoneNumber" style="width: 150px;" />
                    <span id="Model_SysAgentUser_PhoneNumberTip"></span>
                </td>
            </tr>
            <tr style="display:none">
                <td class="f-tb-t"></td>
                <td class="f-tb-c">
                    <input type="submit" name="btn_Submit" id="btn_Submit" value="保存" class="btn btn-save" />
                    <input type="button" name="btn_Cancle" id="btn_Cancle" value="关闭" class="btn btn-close dialog-close" />
                </td>
            </tr>
        </table>
    </form>
</div>






